section#neighbourhood_page {
  max-width: 1366px;
  padding-top: 2rem;
  margin: 0 auto;

  h3 {
    text-transform: capitalize;
    text-align: center;
    padding-inline: 2.5rem;
  }

  .summary_grid {
    padding-inline: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3.5rem;
    justify-content: space-between;
    align-items: flex-start;

    .description {
      max-width: 80%;

      p {
        margin-top: 0;
      }
    }

    .image {
      img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
      }
    }
  }

  .cta-neighbourhood {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    max-width: 1200px;
    margin: 0 auto;
    margin-block: 4rem;
    padding: 2rem 0;
    p {
      text-align: center;
      margin: 0 auto;
      width: 60%;
    }
    button {
      display: block;
      margin: 0 auto;
      margin-top: 2.5rem;
    }
  }

  .neighbourhood_grid {
    max-width: 1366px;
    margin-inline: auto;
    margin-top: 5rem;
    padding-inline: 2.5rem;

    ul.grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(310px, 335px));
      column-gap: 3.5rem;
      row-gap: 5rem;
    }
  }
}

/* MEDIA QUERY */

@media screen and (max-width: 768px) {
  section#neighbourhood_page {
    .summary_grid {
      grid-template-columns: 1fr;
      margin-top: 2rem;
      .description {
        max-width: 100%;
      }
      .image {
        margin-top: 2rem;
        max-width: 100%;
        img {
          max-width: 100%;
        }
      }
    }
    .cta-neighbourhood p {
      width: 90%;
    }
    section.neighbourhood_grid {
      ul.grid {
        justify-content: center;
      }
    }
  }
}
