// SECTION: GALLERY
section#gallery {
  max-width: 1920px;
  margin-inline: auto;
  padding-block: 5rem;
  padding-inline: clamp(2.5rem, 3.5vw, 7rem);

  .chevron_box {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    img.chevron_left {
      height: 20px;
      width: auto;
    }
    a {
      margin-left: 1rem;
      display: block;
      width: max-content;
      letter-spacing: 1px;
    }
  }

  .gallery_grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    .brief {
      grid-column: span 4;
      h1 {
        font-family: "ANC-Demi";
        font-weight: 100;
        font-size: 4.5rem;
        letter-spacing: -0.5px;
      }
      h2 {
        font-family: "ANC-Regular";
        font-weight: 100;
        font-size: 2.5rem;
        margin-top: -0.2rem;
      }
      .brief_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2rem;
        .each_detail {
          margin-top: 2rem;
          h4 {
            font-family: "ANC-Regular";
            font-weight: bold;
            font-size: 1.6rem;

            letter-spacing: 0.3px;
          }
          p {
            margin-top: 0;
          }
        }
      }
    }
    .gallery {
      grid-column: span 4;
      width: 100%;
    }
  }
}

// SECTION - DETAILS
section#details {
  max-width: 1920px;
  margin-inline: auto;
  padding-block: 10rem;
  padding-inline: clamp(2.5rem, 3.5vw, 7rem);

  ul.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;

    .property_details {
      grid-column: 1/8;

      h1 {
        font-family: "ANC-Demi";
        font-weight: 100;
        font-size: 3rem;
        letter-spacing: 0.3px;
      }

      > p:first-child {
        margin-top: 0;
      }
    }
    .agent_details {
      grid-column: 10/13;
      padding: 2rem 0.7rem;
      border: 2px solid #333;
      text-align: center;
      height: min-content;

      .agent_img {
        display: inline-block;
        margin: 0 auto;
        margin: 2rem 0 1rem 0;
        height: 14rem;
        width: 14rem;
        border-radius: 50%;
      }

      .agent_info {
        h3 {
          letter-spacing: -0.45px;
        }
        li {
          font-family: "ANC-Regular";
          margin: 0;
          font-size: 1.6rem;
          line-height: 1.7;
          letter-spacing: 0.3px;

          &:first-child {
            // color: red;
            margin-top: 0;
            font-family: "ANC-Medium";
            font-size: 2.2rem;
          }

          &:nth-child(2) > a:first-child {
            display: inline-block;
            margin-top: 1rem;
            font-family: "ANC-Regular";
            font-size: 1.5rem;
          }
          &:nth-child(3) > a:first-child {
            margin-bottom: 1rem;
            display: inline-block;
            font-family: "ANC-Regular";
            font-size: 1.5rem;
          }
        }

        > li:nth-child(4) > a {
          color: #7500c2;
          font-family: "ANC-Medium";
          width: max-content;
          font-size: 1.6rem;
        }
      }
    }
  }
}

// SECTION - FEATURES
section#features {
  max-width: 1920px;
  margin-inline: auto;
  padding-inline: clamp(2.5rem, 3.5vw, 7rem);

  p {
    margin-top: 0.5rem;
  }

  & > :nth-child(2) {
    margin-top: 1rem;
  }
}

/* MEDIA QUERY */
@media (max-width: 950px) {
  section#gallery {
    .chevron_box {
      margin-bottom: 2.5rem;
    }
    .gallery_grid {
      grid-template-columns: repeat(1, 1fr);
      .gallery {
        margin-top: 5rem;
      }
    }
  }
}

@media (max-width: 850px) {
  section#details ul.grid .agent_details {
    grid-column: 9/13;
  }
}

@media (max-width: 650px) {
  section#gallery .gallery_grid {
    grid-template-columns: 1fr;
    justify-content: center;
    .gallery {
      margin-top: 5rem;
    }
  }

  section#details {
    padding-top: 3rem;
    ul.grid {
      grid-template-columns: 1fr;
      .property_details {
        grid-column: span 1;
      }
      .agent_details {
        grid-column: span 1;
        max-width: 50%;
        min-width: max-content;
        margin-top: 2rem;
      }
    }
  }
}

@media (max-width: 500px) {
  section#gallery .gallery_grid .brief .brief_grid {
    grid-template-columns: 1fr;
  }
  section#details {
    padding-block: 0;
    padding-block: 2.5rem;
  }
}

@media (max-width: 360px) {
  section#gallery {
    padding-bottom: 0rem;
    .chevron_box {
      margin-bottom: 2rem;
    }
    .gallery_grid .gallery {
      margin-block: 3.5rem;
    }
  }

  section#details ul.grid {
    grid-template-columns: repeat(1, 1fr);
    .property_details,
    .agent_details {
      grid-column: span 1;
    }
    .property_details {
      margin-bottom: 3.5rem;
    }
    .agent_details {
      width: 65%;
      margin: 0 auto;
      margin-bottom: 3.5rem;
    }
  }
}
