html {
  font-size: 62.5%;
  display: flex;
  justify-content: center;
  background-color: #000;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  max-width: 1920px;
  margin-inline: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin-top: 0;
}

li {
  list-style: none;
}

@font-face {
  font-family: "ANC-Light";
  src: url("/fonts/ANC-Light.ttf");
}

@font-face {
  font-family: "ANC-Regular";
  src: url("/fonts/ANC-Regular.ttf");
}

@font-face {
  font-family: "ANC-Medium";
  src: url("/fonts/ANC-Medium.ttf");
}

@font-face {
  font-family: "ANC-Demi";
  src: url("/fonts/ANC-Demi.ttf");
}

h1 {
  font-family: "ANC-Demi";
  letter-spacing: -1px;
  line-height: 1.35;
  color: #31343a;
}

h2 {
  color: #31343a;
}

h3 {
  font-family: "ANC-Demi";
  /* font-size: 3rem; */
  font-size: clamp(2.6rem, 7vw, 3rem);
  letter-spacing: 0.55px;
  font-weight: 300;
  color: #31343a;
  line-height: 1.4;
}

h5 {
  font-family: "ANC-Regular";
  font-size: 1.6rem;
  font-weight: 700;
  color: #31343a;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-family: "ANC-Regular";
  margin: 0;
  margin-top: 1rem;
  /* font-size: 1.6rem; */
  font-size: clamp(1.45rem, 3vw, 1.8rem);
  line-height: 1.7;
  /* text-align: justify; */
  color: #31343a;
}

li {
  font-family: "ANC-Medium";
  margin: 0;
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #31343a;
}

a {
  /* font-size: 1.4rem; */
  font-size: clamp(1.4rem, 2vw, 1.5rem);
  color: #3a3a3a;
  font-family: "ANC-Demi";
  letter-spacing: 0.3px;
  text-decoration: none;
}

.light {
  font-family: "ANC-Light";
  letter-spacing: -0.46px;
}

button {
  font-family: "ANC-Regular";
  padding: 1rem 1.5rem;
  border-radius: 3px;
  border: 2px solid #31343a;
  background-color: #fff;
  color: #31343a;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  font-size: clamp(1.4rem, 2vw, 1.5rem);
}
button:hover {
  background-color: #31343a;
  color: #fff;
}

.chevron-right {
  width: 1.6rem;
}

.heading-underline {
  display: inline-block;
  position: relative;
}
.heading-underline::after {
  content: "";
  position: absolute;
  background-color: #31343a;
  border-radius: 5px;
  width: 50%;
  height: 2.5px;
  bottom: 0;
  left: 0;
}
