li.grid_card,
li.grid_card,
li.grid_card {
  background-color: #f8f5f0;
  border-radius: 3px;
  grid-column: span 1;
  margin-top: 0;
  transition: all 0.5s;

  &:hover img.listing_image {
    filter: brightness(100%);
  }

  img.listing_image {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    filter: brightness(80%);
    transition: filter 0.5s;
  }

  .card_details {
    padding: 10px 15px 20px 20px;
    p {
      margin-top: 0;
      font-family: "ANC-Medium";
    }
  }

  > h5:nth-child(2) {
    letter-spacing: 0.8px;
  }
  > h5:nth-child(4) {
    margin-top: 1rem;
  }

  .flex_features {
    margin-top: 1.5rem;
    display: flex;

    .features_bed,
    .features_bath,
    .features_area {
      display: flex;
      margin-top: 2.5rem;
      margin-right: 1rem;
      img {
        margin-right: 1rem;
        height: 30px;
        width: auto;
      }
    }
    .features_area:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1065px) {
  .grid_card {
    max-width: 320px;
  }
}

// @media screen and (max-width: 1080px) {
//   .grid_card {
//     &:nth-child(3) {
//       max-width: 320px;
//       grid-column: 1/3;
//       justify-self: center;
//     }
//   }
// }

// @media screen and (max-width: 1024px) {
//   .grid_card {
//     .flex_features {
//       align-items: center;
//       .features_bed,
//       .features_bath,
//       .features_area {
//         align-items: center;
//       }
//     }
//   }
// }
