// FOOTER
footer#footer {
  // margin-top: 10rem;
  padding-block: 5rem;
  padding-inline: clamp(2.5rem, 3.5vw, 5rem);
  border-top: 2.5px #31343a solid;

  ul.grid_footer {
    max-width: 1366px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    h5 {
      font-size: 2.2rem;
      font-family: "ANC-Medium";
      font-weight: 300;
    }

    > li:nth-child(1) > ul:nth-child(2) > a:nth-child(1) > li:nth-child(1),
    > li:nth-child(1) > ul:nth-child(2) > a:nth-child(2) > li:nth-child(1),
    > li:nth-child(1) > ul:nth-child(2) > a:nth-child(3) > li:nth-child(1),
    > li:nth-child(1) > ul:nth-child(2) > a:nth-child(4) > li:nth-child(1),
    > li:nth-child(1) > ul:nth-child(2) > a:nth-child(5) > li:nth-child(1),
    > li:nth-child(2) > ul:nth-child(2) > a:nth-child(1) > li:nth-child(1),
    > li:nth-child(2) > ul:nth-child(2) > a:nth-child(2) > li:nth-child(1) {
      display: inline-block;
      width: max-content;
      font-family: "ANC-Regular";
      color: #000;
    }

    // GRID ALLOTMENT
    > li:nth-child(1) {
      grid-column: 1 / span 1;
    }
    > li:nth-child(2) {
      grid-column: 3 / span 1;
    }
    > li:nth-child(3) {
      grid-column: 7 / span 4;

      form {
        margin-top: 1.5rem;
        input {
          background-color: #f1f1f1;
          border: none;
          padding: 1rem 1.5rem;
          border-radius: 0.3rem;
          margin-right: 3rem;

          &::placeholder {
            font-family: "ANC-Regular";
          }
        }
        button {
          letter-spacing: 1px;
        }
      }
    }
  }
}

// MEDIA QUERY
@media screen and (max-width: 1024px) {
  footer#footer {
    /* padding: 3rem; */
  }
  footer#footer ul.grid_footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* align-items: flex-start; */
    /* width: 65%; */
    /* margin: 0 auto; */
    /* margin-left: 6rem; */
  }
  footer#footer ul.grid_footer > li:nth-child(1),
  footer#footer ul.grid_footer > li:nth-child(2),
  footer#footer ul.grid_footer > li:nth-child(3) {
    grid-column: span 1;
  }

  footer#footer ul.grid_footer > li:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  footer#footer ul.grid_footer > li:nth-child(3) {
    grid-column: 2/3;
  }

  footer#footer ul.grid_footer > li:nth-child(3) h5 {
    margin-top: 0;
  }

  footer#footer ul.grid_footer li ul {
    display: flex;
    flex-direction: column;
  }

  footer#footer ul.grid_footer li:nth-child(2) h5 {
    margin-top: 2rem;
  }

  footer#footer ul.grid_footer > li:nth-child(3) form button {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 700px) {
  footer#footer ul.grid_footer {
    /* margin-left: 0;
    margin: 0 auto; */
    grid-template-columns: repeat(1, 1fr);
  }

  footer#footer ul.grid_footer > li:nth-child(3) {
    grid-column: span 1;
  }
  footer#footer ul.grid_footer > li:nth-child(3) h5 {
    margin-top: 2rem;
  }
}
